.venv/
__pycache__/
.env

# Python-relaterade filer
*.pyc
*.pyo
*.pyd
.Python

# Virtuella miljöer och pakethanterare
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
Pipfile
Pipfile.lock

# Flask och Spotipy-relaterade filer
instance/
*.sqlite3
*.db

# OS-specifika filer
.DS_Store
Thumbs.db

# Editor och IDE-specifika filer
.vscode/
.idea/
*.swp
*.swo

# Test och loggfiler
logs/
*.log
coverage/
*.cover
htmlcov/
nosetests.xml
