{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Dashboard</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Prenumererade Subforum</h5>
                    <p class="card-text">{{ total_subforums }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Trådar</h5>
                    <p class="card-text">{{ total_threads }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Poster</h5>
                    <p class="card-text">{{ total_posts }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h3>Subscribed Subforums</h3>
        <ul class="list-group">
            {% for subforum in subscribed_subforums %}
                <li class="list-group-item">{{ subforum.name }}</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
