{% extends 'base.html' %} {% block content %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />
  <title>TuneLink</title>
</head>
<div class="container mt-5 text-center">

  <div class="profil_card card" >

    {% if user.images %}
    <img src="{{ user.images[0].url }}" alt="Profile Image" class="profilepicture mb-3" />
  {% endif %}

    <div class="profil_card card-body">
      <h5 class="card-title">{{ user.display_name }}</h5>
      <p class="card-text">
        {{ bio or "Här var det tomt!"}}
      </p>
      {% if spotify_url %}
      <a href="{{ spotify_url }}" class="btn btn-success" target="_blank">Lyssna på Spotify</a>
      {% endif %}
      <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create_bio_modal">Redigera</a>
    </div>
  </div>



  <hr class="my-4" />

  <h4>Genrer du lyssnar på</h4>
  <div class="d-flex justify-content-center flex-wrap mb-4">
    {% for genre in genres %}
    <span class="badge bg-dark text-light m-2 px-3 py-2">{{ genre }}</span>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Dina topp 5 låtar</h4>
      <ol class="list-group list-group-numbered mb-4">
        {% for track in top_tracks %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ track.name }}</div>
            {{ track.artist }}
          </div>
          <a href="{{ track.spotify_url }}" target="_blank" class="btn btn-outline-success btn-sm ms-3">
            <i class="fab fa-spotify me-1"></i>Spela i Spotify
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>

    <div class="col-md-6">
      <h4>Dina topp 5 artister</h4>
      <ol class="list-group list-group-numbered mb-4">
        {% for artist in top_artists %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ artist.name }}</div>
            </div>
            <a href="{{ artist.spotify_url }}" target="_blank" class="btn btn-outline-success btn-sm ms-3">
              <i class="fab fa-spotify me-1"></i>Öppna i Spotify
            </a>
        </li>
        {% endfor %}
      </ol>
    </div>

  <div class="modal fade" id="create_bio_modal" tabindex="-1" aria-labelledby="create_bio" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="start_subforum_label">Uppdatera din Bio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
        </div>
  <div class="modal-body">
    <div class="card mb-4">
      <div class="card-body">
        <form method="POST" action="{{ url_for('create_bio') }}">
          <div class="mb-3">
            <label for="song" class="form-label">Spotify-URL</label>
            <input type="text" class="form-control" id="song" name="song" placeholder="Lägg till en låt...">
          </div>
          <div class="mb-3">
            <label for="bio" class="form-label">Beskrivning</label>
            <textarea class="form-control" id="bio" rows="3" name="bio"placeholder="Beskrivning..."></textarea>
          </div>
          <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-primary">Spara Bio</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Avbryt</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
