{% extends 'base.html' %} {% block content %}
<h1 class="text-center">{{ forum["name"] }}</h1>
<div class="text-center my-4">
  <div class="d-flex justify-content-center align-items-center gap-2">
    <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#start_thread_modal">
      <i class="bi bi-plus-lg me-2"></i>
      Starta tråd
    </button>

    {% if forum["id"] in subscribed_forum_ids %}
    <form action="{{ url_for('unsubscribe', name=forum['name']) }}" method="post" class="mb-0">
      <button type="submit" class="btn btn-danger btn-lg">Avprenumerera</button>
    </form>
    {% else %}
    <form action="{{ url_for('subscribe', name=forum['name']) }}" method="post" class="mb-0">
      <button type="submit" class="btn btn-success btn-lg">Prenumerera</button>
    </form>
    {% endif %}
  </div>





{% for thread in threads %}
<div class="center_wrapper">
<div class="thread_card card">
    <p class="card-text"><small class="text-muted">Här är användaren som lagt upp</small></p>
    <h5 class="text-center card-title">Titel på thread</h5>
    <img class="thread_image card-img-top" src="https://i.scdn.co/image/ab67616d0000b273fe168e1e3b834412cbe77793" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Här skrivs beskrivning på tråd</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="d-flex gap-2 mb-3">
        <button type="button" class="btn btn-secondary">
          <i class="bi bi-hand-thumbs-up"></i>
        </button>
        <button type="button" class="btn btn-secondary">
          <i class="bi bi-hand-thumbs-down"></i>
        </button>
        <button type="button" class="btn btn-secondary">
          <i class="bi bi-chat-dots-fill"></i>
        </button>
        <button type="button" class="btn btn-secondary">
          <i class="bi bi-share"></i>
        </button>
      </div>
      </button>

      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>

<div class="col-md-4">
    <div class="card bg-light shadow-sm">
        <div class="card-header">
            <strong>Beskrivning och regler</strong>
        </div>
        <div class="card-body">
            <p class="card-text text-center">{{ forum["description"] }}</p>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="start_thread_modal" tabindex="-1" aria-labelledby="start_thread_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="start_thread_modal_label">Starta En Ny Thread</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
        </div>

        <div class="modal-body">
          <div class="card mb-4">
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <label for="thread_title" class="form-label">Titel</label>
                  <input type="text" class="form-control" id="thread_title" placeholder="Ange en titel...">
                </div>
                <div class="mb-3">
                  <label for="spotify_url" class="form-label">Spotify URL</label>
                  <input type="text" class="form-control" id="spotify_url" placeholder="Ange en Spotify URL...">
                </div>
                <div class="mb-3">
                  <label for="thread_description" class="form-label">Comment</label>
                  <textarea class="form-control" id="thread_description" rows="3" placeholder="Beskrivning..."></textarea>
                </div>
                <div class="d-flex justify-content-end gap-2">
                  <button type="submit" class="btn btn-primary">Posta Thread</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Avbryt</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}