{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">{{ subforum.name }}</h1>
<div class="list-group">
    {% for thread in threads %}
    <a href="{{ url_for('show_thread', thread_id=thread.id) }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ thread.title }}</h5>
        <p class="mb-1">{{ thread.description }}</p>
        <small>Created by {{ thread.creator_name }} on {{ thread.created_at }}</small>
    </a>
    {% endfor %}
</div>
{% endblock %}